{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block body %}
<div class="header">
    <div class="header-container">
        <h2>Competitions</h2>
    {% for competition in object_list %}
    
    <ul>
        <li>
            <span>Name of competition:</span> <span>{{ competition.name }}</span><br>
            <span>Competition date:</span> <span>{{ competition.date }}</span><br>
            <span>End of Registration:</span> <span>{{ competition.end_registration_date }}</span>
        </li>
    </ul>
    
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
</div>
</div>
{% endblock %}