{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block body %}
<div class="header">
    <div class="header-container">
        <div class="filter-container">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton">
               Filter by
              </button>
        <form class="form-with-animation active" method="get">
            {% csrf_token %}
              <label for="exampleInputEmail1" class="form-label">Age</label>
              {{ form.age }}
              <label for="exampleInputEmail1" class="form-label">Belt</label>
              {{ form.belt }}
              <label for="exampleInputEmail1" class="form-label">Weight</label>
              {{ form.weight }}
            <button type="submit" class="btn btn-primary">Apply Filter</button>
        </form>
    </div>
    
    {% for competitor in object_list %}
    {% if user.is_authenticated %}
    {% if user.username == competitor.name %}
    <ul>
        <li>{{ competitor }}</li>
    </ul>
    
    {% endif %}
    {% else %}
    <ul>
        <li>{{ competitor }}</li>
    </ul>
    {% endif %}
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>

</div>
{% endblock %}
{% block javascript %}
<script>
    let dropdown = document.getElementById("dropdownMenuButton")
    console.log("Help")
    console.log(dropdown)
    dropdown.addEventListener("click", ()=>{
        let form = document.getElementsByClassName("form-with-animation")[0]
        form.classList.toggle("open")
        console.log(form)
        console.log("Help")
    })
</script>
{% endblock %}